################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GingerTestNgPluginTest/TestResources/TestNGxml.xml
/.vs/Ginger-TestNG-Plugin/v15/Server/sqlite3/db.lock
